@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f47424;
  --secondary: #3967e0;

  --primary-accent: #f79253;
  --foreground-accent: #454545;
  --hero-background: #f3f3f5;
}

html {
  /* 내부 폰트 PretendardVariable 등록 */
  @font-face {
    font-family: "Pretendard";
    src: url("/fonts/PretendardVariable.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
  }
  @apply scroll-smooth;
}

body {
  @apply text-lg;

  color: var(--foreground);
  background: var(--background);
  font-family: "Pretendard", sans-serif;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pretendard", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  /* @apply mb-10; */
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
